<div id="icons-wrapper">

  <div class="serach-cart">
    <a href="{{ routes.search_url }}" class="search">
      <img src="https://cdn.shopify.com/s/files/1/0617/4900/2440/files/output-onlinepngtools_2.png?v=1660134679" width="35px" height="35px">
    </a>
    
    
    <a href="{{ routes.cart_url }}" class="cart">
      <img src="https://cdn.shopify.com/s/files/1/0617/4900/2440/files/output-onlinepngtools_3.png?v=1660134679" width="35px" height="35px">
    </a>
  </div>
  
  


</div>