
<a href="{{ routes.search_url }}" class="search">
  <img src="https://cdn.shopify.com/s/files/1/0617/4900/2440/files/search.png?v=1660128504" width="35px" height="35px">
</a>


<a href="{{ routes.cart_url }}" class="cart">
  <img src="https://cdn.shopify.com/s/files/1/0617/4900/2440/files/cart.png?v=1660128783" width="35px" height="35px">
</a>


<button type="button" class="menu-drawer">
          $$
<!--           <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span> -->
        </button>