<div id="icons_wrapper">
  <a href="{{ routes.search_url }}" class="icons">
    <img src="https://cdn.shopify.com/s/files/1/0617/4900/2440/files/search.png?v=1660128504" width="35px" height="35px">
  </a>
</div>