{%- liquid 
   assign limit = main_menu.links.size
-%}


  {%- for link in main_menu.links limit: limit offset: offset -%}
    <div class="site_nav_item">
      <a href="{{ link.url }}"> 
        {{ link.title }}
      </a>
    </div>
  {%- endfor -%}
