{%- liquid 
  assign header_logo_size = section.settings.logo_width | append: 'x'
  assign has_logo = true
-%}

<h1>
  <a href="#">
    <img src="{{ section.settings.logo_image | img_url: header_logo_size }}">
  </a>
</h1>