{%- liquid
  assign main_menu = linklists[section.settings.menu_link_list]
-%}

{% style %}

  #header-layout {
    display: flex;
    justify-content: space-around;
  }

  #header-item--icons
  {
    display: flex;
    justify-content: center;
    align-items: center
  }

  #header-item--menu
  {
    display: flex;
    justify-content: space-between;
    align-items: center
  }

    {% if section.settings.alignment == 'left-right' %}
      #header-layout {
        display:flex;
        justify-content: space-between;
      }
    {% endif %}

  .site_nav_item a{
    font-size: 22px;
    margin: 10px;
    text-decoration: none;
    color: white;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }

  .social-icons img {
    margin: 20px 10px;
  }
  
{% endstyle %}

<div id="header" style="margin-bottom: 2000px; background-color: navy; color: white"> 
  <header>
    <div class="page-width">
      <div id="header-layout">

        {% if section.settings.alignment == 'left-right' %}
            <div id="header-item--logo">
              {%- render 'header-logo', section: section -%}
            </div>
            <div id="header-item--menu"> 
              {%- render 'header-menu', section: section, main_menu: main_menu -%}
            </div>
        {% endif %}


        {% if section.settings.alignment == 'left-center' %}
            <div id="header-item--logo">
              {%- render 'header-logo', section: section -%}
            </div>
            <div id="header-item--menu"> 
              {%- render 'header-menu', section: section, main_menu: main_menu -%}
            </div>
            <div id="header-item--icons">
              {%- render 'header-icons', section: section -%}
            </div>
        {% endif %}

        {% if section.settings.alignment == 'center-left' %}
            <div id="header-item--menu"> 
              {%- render 'header-menu', section: section, main_menu: main_menu -%}
            </div>
            <div id="header-item--logo">
              {%- render 'header-logo', section: section -%}
            </div>
            <div id="header-item--icons">
              {%- render 'header-icons', section: section -%}
            </div>
        {% endif %}


      </div>
    </div>
  </header>
</div>



{% schema %}
    {
        "name": "Header",
        "settings": [
            {
                "type": "image_picker",
                "id": "logo_image",
                "label": "Logo"
            },
            {
                "type": "range",
                "id": "logo_width",
                "label": "Logo width",
                "default": 200,
                "min": 100,
                "max": 400,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "link_list",
                "id": "menu_link_list",
                "label": "MENU",
                "default": "main-menu"
            },
            {
              "type": "url",
              "id": "icon1_link",
              "label": "Icon link 1"
            },
            {
              "type": "url",
              "id": "icon2_link",
              "label": "Icon link 2"
            },
            {
              "type": "url",
              "id": "icon3_link",
              "label": "Icon link 3"
            },
            {
              "type": "url",
              "id": "icon4_link",
              "label": "Icon link 4"
            },
            {
                "type": "select",
                "id": "alignment",
                "label": "Layout",
                "default": "left-right",
                "options": [
                    {
                        "value": "left-center",
                        "label": "Logo left - menu center"
                    },
                    {
                        "value": "left-right",
                        "label": "Logo left - menu right"
                    },
                    {
                        "value": "center-left",
                        "label": "Logo center - menu left (drawer only)"
                    }
                ]
            },
            {
                "type": "checkbox",
                "id": "sticky_header",
                "label": "Enable sticky header",
                "default": true
            }
        ]
    }
{% endschema %}