{%- liquid
  assign main_menu = linklists[section.settings.menu_link_list]
-%}

{% style %}

  #header-layout {
    display: flex;
    justify-content: space-around;
  }

  {% if section.settings.alignment == 'left-right' %}
    #header-item--menu {
      float: right;
    }
  {% endif %}
  
{% endstyle %}

<div id="header"> 
  <header>
    <div class="page-width">
      <div id="header-layout">

        
        <div id="header-item--logo">
          {%- render 'header-logo', section: section -%}
        </div>

        <div id="header-item--menu"> 
          {%- render 'header-menu', section: section, main_menu: main_menu -%}
        </div>

        <div id="header-item--icons">
          {%- render 'header-icons', section: section -%}
        </div>
      </div>
    </div>
  </header>
</div>



{% schema %}
    {
        "name": "Header",
        "settings": [
            {
                "type": "image_picker",
                "id": "logo_image",
                "label": "Logo"
            },
            {
                "type": "image_picker",
                "id": "logo_image_mobile",
                "label": "Logo for mobile (optional)"
            },
            {
                "type": "range",
                "id": "logo_width",
                "label": "Logo width",
                "default": 200,
                "min": 100,
                "max": 400,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "link_list",
                "id": "menu_link_list",
                "label": "MENU",
                "default": "main-menu"
            },
            {
                "type": "select",
                "id": "alignment",
                "label": "Layout",
                "default": "left-right",
                "options": [
                    {
                        "value": "left-center",
                        "label": "Logo left - menu center"
                    },
                    {
                        "value": "left-right",
                        "label": "Logo left - menu right"
                    },
                    {
                        "value": "center-left",
                        "label": "Logo center - menu left (drawer only)"
                    }
                ]
            },
            {
                "type": "checkbox",
                "id": "sticky_header",
                "label": "Enable sticky header",
                "default": true
            }
        ]
    }
{% endschema %}